+++
title = "Baker"
linkTitle = "Baker"
+++

{{< blocks/cover title="Baker" image_anchor="top" height="min" color="blue" >}}
<h2 class="display-3 mt-0 pb-5">High performance modular pipelines for the Big Data era</h2>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/" >}}">
		Documentation <i class="fas fa-book-open ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/adroll/baker">
		Github repository <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

<section class="row td-box td-box--light position-relative td-box--gradient td-box--height-auto first-row">
    <div class="col">
        <div class="row align-items-center">
            <div class="offset-lg-3 col-lg-3 mb-5 mb-lg-0 text-center">
                <img src="/baker.png" class="responsive-img" />
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h3 class="h2">Blazing fast and open-source data processor</h3>
                <span class="h5 mb-0">
                    <p>
                    Baker pipelines can fetch, transform and store records in a flash <i class="fa fa-bolt"></i> thanks to a high-performant and fully-parallel implementation.
                    </p>
                    <p>
                    Baker is open-source and written in <a href="https://golang.org/" target="_blank">Go</a> by <a href="https://www.nextroll.com/" target="_blank">NextRoll, inc.</a>
                    </p>
                <img src="./images/nextroll-logo-2x.png" alt="NextRoll, inc." class="nextroll-logo" />
            </span>
            </div>
        </div>
    </div>
</section>

{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fas fa-link" title="Modular pipeline" %}}

<span class="subtitle"><a href="/docs/core-concepts/#pipeline">Baker pipelines</a> are assembled using up to 4 kinds of
components: inputs, filters, outputs and uploads.</span>

They are fully modular: any component can be replaced with another of the same kind.
Available components include many AWS services (S3, Kinesis, DynamoDB, SQS) as well as websocket, TCP, local disk, etc.

<h4 class="h3"><a href="/docs/components">Check out the full list &raquo;</a></h4>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-shipping-fast" title="High performances" %}}
<span class="subtitle">Baker is fully parallel and maximizes the usage of both CPU-bound and I/O bound pipelines.</span>

On an AWS EC2 instance of size c5.2xlarge, Baker can process compressed records read from S3 and written to local disk,
with basic filtering, using ~90% of CPU and ~3.5GB of RAM, for an <strong>average R/W speed of 700MB/sec</strong>.

<h4 class="h3"><a href="/docs/performance/">More performances examples &raquo;</a></h4>

{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-puzzle-piece" title="Extendable" %}}
<span class="subtitle">With Baker it is super easy to write your own components and process any kind of structured data.</span>

Baker processes <a href="/docs/how-tos/record_and_logline/">records of structured data</a> that can be read, filtered and written using
many available <a href="/docs/components/">components</a> written in Go. If you can't find a component that suits
your needs, it's very easy to create a new one.

<h4 class="h3"><a href="/docs/how-tos/" alt="How-tos" />Read Baker how-tos &raquo;</a></h4>
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="FAFAFA" >}}
{{% blocks/feature icon="fa fa-hands-helping" title="Contributions welcome!" %}}

We encourage all users to contribute to the project by adding new components, improve the core or the documentation.

<strong><a href="https://github.com/AdRoll/baker/pulls">Open a Pull-Request &raquo;</a></strong>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-bug" title="Bug found?" %}}
If you think you found a bug, please create a new issue on GitHub.

<strong><a href="https://github.com/AdRoll/baker/issues/new?labels=bug">File a new issue &raquo;</a></strong>

{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-slack" title="Get in touch!" %}}
Do you have any question? Get in touch with the Baker team.

<strong><a href="ttps://gophers.slack.com/app_redirect?channel=baker" alt="How-tos" />Join our Slack channel &raquo;</a></strong>
{{% /blocks/feature %}}

{{< /blocks/section >}}
