+++
title = "Baker"
linkTitle = "Baker"
+++

{{< blocks/cover title="High performance modular pipelines for the Big Data era" image_anchor="top" height="min" color="blue" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/" >}}">
		Documentation <i class="fas fa-book-open ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/adroll/baker">
		Github repository <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="light" %}}
<p><img src="/baker-pipeline.png" /></p>
Baker can convert, process, extract or store records (structured data), applying whatever transformation between input and output through easy-to-write filters.

It is fully parallel and maximizes usage of both CPU-bound and I/O bound pipelines.

Baker is an open source project made in <a href="https://www.nextroll.com/" target="_blank">NextRoll, inc.</a> and it's completely written in <a href="https://golang.org/" target="_blank">Go</a>

<img src="./images/nextroll-logo-2x.png" alt="NextRoll, inc." />

{{% /blocks/lead %}}

{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fas fa-link" title="Modular pipeline" %}}

Baker uses modular components in a 4-levels stack: inputs, filters, outputs and uploads.

Each component of a level can connect with any other from the previous and the next one.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-shipping-fast" title="High performances" %}}
Baker is fully parallel and maximizes usage of both CPU-bound and I/O bound pipelines.

On a c5.2xlarge EC2 instance, Baker managed to read zstandard records from S3, uncompress them and
apply a basic filtering logic, compressing them back on local files with zstandard
using ~90% of capacity of each vCPU (8 in total) and ~3.5GB of RAM, reading and writing ~178000
records per second.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-puzzle-piece" title="Extendable" %}}
With Baker it's super easy to write new components or process any kind of structured data.

Read the <a href="/docs/how-tos/" alt="How-tos" />How-tos</a> pages in the documentation
to learn how to do it.
{{% /blocks/feature %}}

{{< /blocks/section >}}
