+++
title = "Baker"
linkTitle = "Baker"
+++

{{< blocks/cover title="Baker" image_anchor="top" height="min" color="blue" >}}
<h2 class="display-3 mt-0 pb-5">High performance modular pipelines for the Big Data era</h2>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/" >}}">
		Documentation <i class="fas fa-book-open ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/adroll/baker">
		Github repository <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

<section class="row td-box td-box--light position-relative td-box--gradient td-box--height-auto">
    <div class="container-fluid text-center td-arrow-down">
    <span class="h4 mb-0">
        <div class="col">
            <div class="row align-items-center">
                <div class="offset-lg-3 col-lg-3 mb-5 mb-lg-0 text-center">
                    <img src="/baker.png" class="responsive-img" />
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                    <p>Baker pipelines can fetch, transform and store records in a flash <i class="fa fa-bolt"></i>
                    thanks to a high-performant and fully-parallel implementation.
                    </p>
                    <p>
                    Baker is open-source and written in <a href="https://golang.org/" target="_blank">Go</a> by <a href="https://www.nextroll.com/" target="_blank">NextRoll, inc.</a>
                    </p>
                    <img src="./images/nextroll-logo-2x.png" alt="NextRoll, inc." />
                </div>
            </div>
        </div>
    </span>
    </div>
</section>

{{< blocks/section color="primary" >}}
{{% blocks/feature icon="fas fa-link" title="Modular pipeline" %}}

<a href="/docs/core-concepts/#pipeline">Baker pipelines</a> are assembled using up to 4 kinds of
components: inputs, filters, outputs and uploads.

They are fully modular: any component can be replaced
with another of the same kind.

Available components include many AWS services (S3, Kinesis, DynamoDB, SQS) as well as websocket,
TCP, local disk, etc.<br /><a href="/docs/components">Check out the full list &raquo;</a>
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-shipping-fast" title="High performances" %}}
Baker is fully parallel and maximizes usage of both CPU-bound and I/O bound pipelines.

<img src="/speed.png" class="responsive-img" />

More examples of <a href="/docs/performance/">Baker performances &raquo;</a>

{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-puzzle-piece" title="Extendable" %}}
With Baker it is super easy to write your own components and process any kind of structured data.

Read the <a href="/docs/how-tos/" alt="How-tos" />How-tos</a> pages in the documentation
to learn how to do it.
{{% /blocks/feature %}}

{{< /blocks/section >}}
